.footer {
  display: flex;
  justify-content: center;
}

.footer__copyright {
  max-width: 166px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: right;
  margin: 0 auto;
  margin-bottom: 24px;
}

@media screen and (max-width: 752px) {
  .footer__copyright {
    line-height: 14px;
    margin-bottom: 24px;
  }
}
