.header {
  margin: 0 auto;
  text-align: center;
}

.header__logo {
  max-width: 254px;
  padding-top: 34px;
  padding-bottom: 90px;
}

@media screen and (max-width: 1000px) {
  .header__logo {
    padding-top: 30px;
    height: 66px;
  }
}

@media screen and (max-width: 752px) {
  .header__logo {
    padding-top: 20px;
    padding-bottom: 50px;
    max-width: 188px;
    height: 52px;
  }
}
