.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/*Titulo*/
.intro__title {
  width: 830px;
  height: 116px;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  padding-bottom: 40px;
}

/*Frase*/
.intro__text-phrase {
  width: 738px;
  height: 68px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  padding-right: 92px;
}

/*JOSEPH Beus*/
.intro__text-reference {
  width: 732px;
  display: flex;
  justify-content: end;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: right;
  padding-right: 98px;
  margin-top: 10px;
}

/*Descricao da cidade*/
.intro__text-introduction {
  width: 722px;
  height: 182px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.08px;
  text-align: left;
  padding-right: 108px;
  margin-top: 32px;
}

@media screen and(max-width: 1000px) {
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 148px;
    padding: 0;
  }

  .intro__title {
    max-width: 707px;
    height: 98px;
    font-size: 45px;
    line-height: 49px;
  }

  .intro__text-phrase {
    width: 720px;
    height: 102px;
    font-size: 24px;
    line-height: 34px;
  }

  .intro__text-reference {
    width: 720px;
    height: 34px;
    font-size: 24px;
  }

  .intro__text-introduction {
    width: 720px;
    height: 182px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 0;
  }

  .intro__title {
    width: 288px;
    height: 140px;
    font-size: 32px;
    line-height: 35px;
    margin-right: auto;
  }

  .intro__text-phrase {
    width: 288px;
    height: 180px;
    font-family: Inter;
    font-size: 24px;
    line-height: 35px;
  }

  .intro__text-reference {
    width: 288px;
    height: 34px;
    font-family: Inter;
    font-size: 24px;
    line-height: 34px;
    font-family: Inter;
    font-weight: 400;
    text-align: right;
  }

  .intro__text-introduction {
    width: 288px;
    height: 506px;
    font-family: Inter;
    font-size: 16px;
    line-height: 26.08px;
    margin-bottom: 64px;
  }
}
